@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');


:root{
    --background: linear-gradient(135deg, #667eea7e, 0%, #764ba298 100%);
    --color-primary  :#667eea;
    --color-secondary:#764ba2;
    --botton-padding :20px 40px;
}
body{
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
    /* background: red; */
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;
}

.subtitle{
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.hero{
    height: 100vh;
    background-image: var(--background), url('../assets/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.hero .container{
    padding: 0;
}

.nav{
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;
}

.nav--footer{
    font-weight: 300;
    justify-content: flex-start;
}

.nav__items{
    color: aliceblue;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}

.nav__items--cta{
    border: 1px solid #fff;
}

.hero__container{
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    color: #fff;
}

.hero__texts{
    width: 80%;
    margin-bottom: 50px;
}

.hero__title{
    font-size: 3.2rem;
}

.hero__subtitle{
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
}

.hero__cta{
    display: inline-block;
    background: #fff;
    padding: var(--botton-padding);
    text-decoration: none;
    border-radius: 40px;
    color: var(--color-secondary);
    font-weight: bold;
}

.hero__wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

/* about presentation*/
.presentation{
    padding-top: 0;
    text-align: center;
}

.presentation__picture{
     width: 150px;
     height: 150px;
     border-radius: 50%;
     margin-bottom: 10px;
     object-fit: cover;
     object-position: top;
}

.presentation__copy{
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
}

.presentation__cta{
    display: inline-block;
    margin-top: 30px;
    background: var(--color-primary);
    color: #fff;
    text-decoration: none;
    padding: var(--botton-padding);
    border-radius: 40px;
    font-weight: bold;
}
/* about habilidades */
.about{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;   
    row-gap: 80px;
    justify-items: center;
    align-items: center;

}

.about__img{
    text-align: center;
}

.about__img--left{
    text-align: left;
}

.about__picture{
    max-width: 80%;
}
.about__picture2{
    max-width: 100%;
}

.about__paragraph{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
    font-size: 1.2rem;

}
/* projects */
.project{
    background: #f2f2f2;
}

.project__grid{
    display: grid;
    height: 500px;
    grid-template-areas: 
    "img1 img1 img2 img3"
    "img1 img1 img4 img4";
    gap: 10px;
}

.project__item{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.project__item:nth-of-type(1){
    grid-area: img1;
}
.project__item:nth-of-type(2){
    grid-area: img2;
}
.project__item:nth-of-type(3){
    grid-area: img3;
}
.project__item:nth-of-type(4){
    grid-area: img4;
}
.project__item:nth-of-type(5){
    grid-area: img5;
}

.project__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.project__hover{
    position: absolute;
    background: #dc143c8c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #ffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: transform .4s ease-in-out;
}

.project__item:hover .project__hover{
    transform: translateX(0%);
}

.projects_icon{
    margin-top: 10px;
    font-size: 30px;
}

/* footer */

footer{
    background: var(--color-primary);   
}

.footer__grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
}

.footer__title{
    font-weight: 400;
    color: #ffff;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;    
}

.footer__icons{
    display: flex;
    justify-content: space-evenly;
}
 .footer__container-icons{
    display: inline-block;
    width: 60px;
    height: 60px;
    color: #ffff;
    text-align: center;
    /* border: 1px solid #ffff; */
    border-radius: 50%;
 }

 .footer__icon{
    color: inherit;
    font-size: 50px;
    text-decoration: none;
 }

 .fa-brands.footer__icon{
    line-height: 60px;
 }

 .nav__items--footer{
    font-size: 1.2rem;
    font-weight: bold;
 }

 .box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 10px 40px;
    color: var(--color-primary);
 }

 .box__copyright p {
    margin-top: 20px;
    color: #f2f2f2;
    
 }

 /* Responsive desing */

 @media screen and (max-width: 800px){
    :root{
        --boton-padding: 18px 40px;
    }

    .nav{
        justify-content: space-around;
    }
    
    .nav__items--cta{
        border: none;
    }
    .nav__items{
        font-weight: 400;
        border-bottom: 1px solid #ffff;
        margin-right: 0;
    }

    .nav__items--footer{
        border:none;
    }

    .hero__texts{
        width: 100%;
        margin-bottom: 80px;
    }

    .hero__title{
        font-size: 2.5rem;
    }

    .hero__subtitle{
        font-size: 1.5rem;
    }

    /* about */

    .presentation__copy{
        width: 100%;
    }

    .about{
        grid-template-columns: 1fr;
    }

    .about.container{
        padding-top: 30px;
    }

    .about__img--left{
        text-align: center;
    }

    .about__texts:last-child{
        grid-row: 3/4;
    }

    /* my projects */

    .project__grid{
        grid-template-areas: 
        "img1 img1 img2 img2"
        "img3 img3 img4 img4"
        ;
    }

    .footer__grid{
        grid-template-columns: 1fr;      
    }

    .footer__contact{
        grid-row: 1/2;
    }
 }

 @media screen and (max-width:500px){
    :root{
        --botton-padding:18px 35px;
    }

    .subtitle{
        font-size: 2rem;
        margin-bottom: 20px;
        text-align: center;
    }

    .nav{
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 10px;
    }

    .nav__items{
        padding: 0 10px;
    }

    .hero__texts{
        text-align: center;
        margin-bottom: 100px;
    }

    /* .hero__title{
        font-size: 2rem;
    } */

    /* about */

    .presentation__picture{
        width: 120px;
        height: 120px;
    }

    .about{
        row-gap: 60px;
    }

    .about.container{
        padding-top: 10px;
    }

    /* my projects */

    .project__grid{
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        ;
        height: auto;
        grid-auto-rows: 250px;
        gap: 10px;
    }
    .en{
        color: #ffff;
        font-size: small;
     }
    
     .es{
        color: #ffff;
        font-size: small;
     }
     .check{
        position: relative;
        width: 80px;
      
     }
 }
 /* seleccion de idiomas */
 .en{
    color: #ffff;
 }

 .es{
    color: #ffff;
 }

 .check{
    position: relative;
    width: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
 }

 .check::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: #333;
    border-radius: 25px;
 }

 .check::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #333;
    box-sizing: border-box;
 }

 .check:checked::after{
    left: 25px;
    border: 2px solid #00a1ff;
 }

 .check:checked::before{
    background: #00a1ff;
 }
